{% extends "blog/base.html" %}
{% block content %}

    {% for post in posts %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">
            Posted on {{ post.date_posted|date:"j-M-Y" }} at {{ post.date_posted|date:"H:i" }}
          </small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>


        <button id="readmore_{{post.id}}" onclick="myFunction(this, {{ post.id }})" style="display:block">Read_More </button>
        <button id="hide_{{post.id}}" onclick="myFunction2(this, {{ post.id }})" style="display:none">Hide</button>

        <p id="preview_{{post.id}}" class="preview-content"> </p>


      </div>
    </article>
    {% endfor %}

    <script>
      function myFunction(element, id) {
          $.getJSON( "posts/"+ id, function( data ) {

            console.log(data);
            $( "#preview_" +id).text(data.content)
            $( "#preview_"+ id ).css( "display","block" );
            $( "#readmore_" + id).toggle();
            $( "#hide_" + id).toggle();
          });
        }

        function myFunction2(element, id) {
              $("#preview_" + id).css( "display","none");
              $("#readmore_" + id).toggle();
              $( "#hide_" + id).toggle();

    }
    </script>
  {% endblock%}
