{% extends "blog/base.html" %}
{% block content %}

    <h1>◈憲武のブログ◈</h1>


    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">
            Posted on {{ object.date_posted|date:"j-M-Y" }} at {{ object.date_posted|date:"H:i" }}
          </small>

        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>

    <h2>{{ post.approved_comments.count }} comment(s) so far</h2>
    {% for comment in object.comments.all %}
    {% if comment.isApproved == True %}
    <div class="comment-section">

    <div class="comment-metadata">{{ comment.user }} on {{ comment.created }} </div>
    <p>{{ comment.cmnt }}</p>

    </div>
    {% endif %}
    {% endfor %}

      <h2>Add new Comment</h2>
      <form method='POST'>{% csrf_token %}
        {{ form.as_p }}
         <button type="submit">Submit </button>
      </form>




  {% endblock%}
