{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Register for a New Account</h1>
    <p>江で型打カキ子決再する</p>
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="bottom-border mb-4">Join</legend>
          {{ form|crispy }}
  
        </fieldset>
        <button class="btn btn-outline-info" type="submit">Sign up</button>
      </form>
      <div class="border-top">Already signed up?  Sign in here.</div>
    </div>
{% endblock%}
